@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
  --color-0: white;
  --color-1: #2764f2;
  /*--color-0: yellowgreen;
  --color-1: black;*/
}

* {
  margin: 0;
  padding: 0;

  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

section {
  background-color: var(--color-1);
  width: 100%;
  height: 100vh;
}



#crt-filter:before {
  content:"";
  left: 0;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  opacity: 0.3;
  background-size: 4px 4px;

  background-color: var(--color-1);

  background-image: repeating-linear-gradient(0deg, var(--color-0), transparent 1px,  var(--color-1) 4px, transparent 1px, transparent);


    animation: crt-lines infinite 1s linear;
}
#crt-filter:after {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  opacity: .5;
  background: rgb(4,10,0);
background: radial-gradient(circle, transparent 0%, black 100%);
}
#crt-popup {
  --anim-duration-0: 5000ms;
  --anim-delay-0: 1600ms;
  --anim-duration-1: 800ms;
  --anim-delay-1: 1000ms;

  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;

  mix-blend-mode: normal;
  /*mix-blend-mode: overlay;
  mix-blend-mode: difference;*/

  animation: fade-out forwards var(--anim-duration-0) ease-out var(--anim-delay-0);
}
#crt-popup:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  animation: crt-popup forwards var(--anim-duration-1) ease-out var(--anim-delay-1);
}

h2, p, a {
  color: var(--color-0);
  max-width: 500px;
  padding: 0 16px;

  --anim-offset: 2px;
  --anim-color: red;
  text-shadow: 1px 0px var(--anim-color);
  animation: text-anim infinite 0.1s linear;



  & ::selection {
    color: var(--color-1);
    background-color: var(--color-0);

  }

}

h2::selection, p::selection {
  color: var(--color-1);
  background-color:  var(--color-0);
}
a::selection {
  color: var(--color-0);
  background-color:  var(--color-1);
}


a {
  color: var(--color-1);
  background-color: var(--color-0);
  font-weight: 1000;
  text-decoration: none;

  &:hover {
    background-color: var(--color-1);
    font-weight: 1000;

    background-color: #e5e5f7;
    background-image:  repeating-linear-gradient(45deg, var(--color-0) 25%, transparent 25%, transparent 75%, var(--color-0) 75%, var(--color-0)), repeating-linear-gradient(45deg, var(--color-0) 25%, var(--color-1) 25%, var(--color-1) 75%, var(--color-0) 75%, var(--color-0));
    background-position: 0 0, 10px 10px;
    background-size: 4px 4px;
  }
}



#window {
  margin: 16px;
  padding: 16px 8px;
  border: 2px var(--color-0) solid;
  border-top-width: 16px;
  gap: 4px;
}



@keyframes text-anim {
  0% {
    text-shadow: 0px 0px  var(--anim-color);
  }
  25% {
    text-shadow: var(--anim-offset) 0px var(--anim-color);
  }
  50% {
    text-shadow: 0px 0px var(--anim-color);
  }
  75% {
    text-shadow: calc(0px - var(--anim-offset)) 0px var(--anim-color);
  }
  100% {
    text-shadow: 0px 0px var(--anim-color);
  }
}



@keyframes crt-lines {
  from {
    background-position-y: 0px;
  } to {
    background-position-y: 8px;
  }
}


@keyframes crt-popup {
  0% {
    background-color: white;
    transform: scalex(0) scaley(0.01);
  }

  50% {
    transform: scalex(1) scaley(0.01);
    background-color: white;
    opacity: 1;
  }

  100% {
    opacity: 0.2;
    background-color: white;
    transform: scalex(1) scaley(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}