
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/styles.css">
        <link rel="icon" type="image/x-icon" href="/public/images/java.svg">
        <title><helloWorld/></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <section class="flex">

            <div id="crt-filter"></div>
            <div id="crt-popup"></div>

            <div class="flex" id="window">
                <h2>
                    Hello World!
                </h2>
                <p>
                    Essa é uma aplicação backend, para verificar a integração com o front acesse o <a href="https://github.com/erbert-gadelha/pagamento-carnes-angular" target="_blank">repositório</a>.
                </p>
            </div>
        </section>
    </body>
</html>
