{{>fragment/header}}

<form id="form-login" action="/api/login" method="post">
    <label for="login">Usuário</label>
    <input id="login" name="login" type="text" placeholder="Usuário">
    <label for="password">Senha</label>
    <div>
        <input id="password" name="password" type="password" placeholder="Senha">
        <button id="show-password" class="material-symbols-outlined"type="button" onClick="foo()">visibility</button>
    </div>
    <span id="form-warn">* em caso de não lembrar de seu usuário e senha, entre em contato com o mantedor do site</span>
    <input type="submit" value="Entrar">
</form>


<style>
    body {
      background-color: var(--thirdy-color);
    }

    #form-login {
      display: flex;
      flex-direction: column;
      border: black 1px solid;
      border-radius: 8px;
      overflow: hidden;
      max-width: 480px;
      gap: 4px;
      padding: 32px;
      padding-top: 48px;
      box-shadow: var(--primary-color) 0 54px 0 -32px inset;
      background-color: white;
      margin: 32px auto;

      #form-warn {
        font-size: 0.7rem;
        color: red;
      }

      label {
        margin-top: 4px;
        margin-bottom: -4px;
        /*font-size: 0.8rem;*/
        font-weight: 500;
        color: #333;
      }

      div {
        position: relative;
        width: 100%;

        &:has(input:placeholder-shown) > button {
          display: none;
        }

        input {
          width: 100%;
        }

        button {
          font-size: 1.3rem;
          position: absolute;
          right: 16px;
          top: 4px;
          bottom: 4px;
          background-color: transparent;
          color: #777;
        }
      }

      input {
        font-size: 0.9rem;

        &[type=submit] {
          padding: 8px;
          background-color: var(--primary-color);
          color: white;
          cursor: pointer;
          transition: box-shadow ease 300ms;
          box-shadow: var(--thirdy-color) 0 0 0 0 inset;
          margin-top: 32px;

          &:hover {
            box-shadow: var(--thirdy-color) -24px 0px 0px 0px inset;
          }
        }
        &[type=text],&[type=password] {
          height: 32px;
          border: gray 1px solid;
          padding: 0 16px;
          transition: box-shadow linear 150ms;

          &:focus {
            outline: none;
            box-shadow: var(--primary-color) 0px -2px 0px 0px inset;
          }
          /*background-color: red;*/
        }
      }
    }

</style>

<script>
    let isHidden = true;
    const passwordElement = document.getElementById("password");
    const showElement = document.getElementById("show-password");

    //console.log(showElement)
    function foo() {
      isHidden = !isHidden;
      if(isHidden){
        passwordElement.type = 'password';
        showElement.innerHTML = 'visibility';
      } else {
        passwordElement.type = 'text';
        showElement.innerHTML = 'visibility_off';
      }

    }
</script>

{{>fragment/footer}}